.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url(../public/Bannière-entrechats.png);
  position: relative;
}

.btn-search {
  display: flex;
  position: absolute;
  right: 25px;
  top: 10px;
}
.d-flex {
  display: flex;
  height: 70px;
}

.navbar {
  background-color: #c86a3c;
  max-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.align {
  align-items: center;
}

.leave {
  height: 35px;
}

.paw {
  background-color: #c7af98;
  max-height: 100%;
}
